<div class="grid grid-cols-2 gap-x-16 gap-y-14 max-md:grid-cols-1 mb-24">
  <img
    src="/images/guitarist.jpg"
    width={600}
    height={600 / 1.5}
    alt="Antony"
    class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"
  />
  <div>
    <h2 class="text-center font-bold text-3xl text-orange-700">
      Perfil Profesional
    </h2><br />
    <ul class="text-justify text-xl">
      <li>
        - Developer FullStack: Experiencia laboral en tecnologías DevOps,
        backend y frontend
      </li><br />
      <li>
        - Developer Backend: Experiencia laboral en tecnologías .Net, Java y
        Python.
      </li><br />
      <li>
        - Developer Frontend: Experiencia laboral en tecnologías JavaScript,
        CSS, Angular y React.
      </li><br />
    </ul>
  </div>
</div>
