<header class="flex justify-between items-center px-20 py-16 max-sm:px-5 max-sm:py-10 max-w-7xl w-full mx-auto">
  <a href="/" class="flex items-center gap-x-4">
    <img
      src="/heartbeat.png"
      width={60}
      height={60}
      alt="icon"
      class="rounded-2xl aspect-thumbnail object-cover"
    />
    <p class="uppercase font-mono lg:text-4xl text-zinc-900 font-bold hover:scale-125 transform transition-all">blog</p>
  </a>
  <ul class="flex lg:gap-x-16 md:flex gap-x-2">
    <li class="text-teal-900 font-mono font-bold text-xl underline hover:no-underline rounded hover:border px-2 py-1 hover:scale-110 transform transition-all hover:bg-gray-400 hover:text-teal-700"><a href="/">Home</a></li>
    <li class="text-teal-900 font-mono font-bold text-xl underline hover:no-underline rounded hover:border px-2 py-1 hover:scale-110 transform transition-all hover:bg-gray-400 hover:text-teal-700"><a href="/about">About</a></li>
    <li class="text-teal-900 font-mono font-bold text-xl underline hover:no-underline rounded hover:border px-2 py-1 hover:scale-110 transform transition-all hover:bg-gray-400 hover:text-teal-700"><a href="/blog">Blog</a></li>
  </ul>
</header>
